@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    color: #eceff4;
    font-family: 'Fira Code', monospace;
    font-size: inherit;
}

body {
    background-color: #2e3440;
    text-align: center;
    margin: 0;
    font-size: 30pt;
}

#version {
    position: fixed;
    right: 0;
    bottom: 0;
    color: #3b4252;
    font-size: 0.5rem;
}

select {
    background-color: #2e3440;
    border: 2px solid #4c566a;
    border-radius: 10px;
    transition: all 0.1s ease-in;
    padding: 0.3rem 1rem;
    margin: 0.1rem;
    font-size: inherit;
} select:hover {
    cursor: pointer;
    border-color: #81a1c1;
    color: #81a1c1;
} select:focus {
    outline: none;
}

button {
    background-color: transparent;
    border: 2px solid #4c566a;
    border-radius: 10px;
    transition: all 0.1s ease-in;
    padding: 0.3rem 1rem;
    margin: 0.1rem;
    font-size: inherit;
} button:hover:not(:disabled) {
    cursor: pointer;
    border-color: #81a1c1;
    color: #81a1c1;
} button:disabled {
    color: #4c566a;
} button:focus {
    outline: none;
}

button.bright {
    background-color: #88c0d0;
    border: 0.0625rem solid #88c0d0;
    color: #3b4252
} button.bright:hover {
    background-color: #81a1c1;
    border-color: #81a1c1;
    color: #3b4252
}

button.remove {
    font-weight: bold;
    color: #bf616a;
    border: none;
}

input {
    border: 2px solid transparent;
    background-color: #3b4252;
    border-radius: 10px;
    transition: all 0.1s ease;
    margin: 0.1rem;
    padding: 0.3rem;
} input:focus {
    outline: none;
    border-color: #4c566a;
} 

::-webkit-input-placeholder {
    color: #4c566a;
} :-ms-input-placeholder {
    color: #4c566a;
} ::placeholder {
    color: #4c566a;
}

#topbar {
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0.2rem;
    transition: all 0s;
} #topbar.open {
    background-color: #a3be8c;
    transition: width 5s linear, margin-left 5s linear;
    width: 0;
    margin-left: 50%;
} #topbar.blocked {
    background-color: #ebcb8b;
} #topbar.closed {
    background-color: #bf616a;
} #topbar.takenbyme {
    background-color: #88c0d0;
} #topbar.takenbyother {
    background-color: #d08770;
} #topbar.over {
    background-color: #b48ead;
}

#displaybuzzer {
    font-weight: bold;
    font-size: 4rem;
} #displaybuzzer.open {
    color: #a3be8c;
} #displaybuzzer.blocked {
    color: #ebcb8b;
} #displaybuzzer.closed {
    color: #bf616a;
} #displaybuzzer.takenbyme {
    color: #88c0d0;
} #displaybuzzer.takenbyother {
    color: #d08770;
} #displaybuzzer.over {
    color: #b48ead;
}

#hostutils {
    font-size: 2.5rem;
}

#displayblocked {
    font-size: 2.3rem;
    font-weight: normal;
    color: #ebcb8b;
}

input.displayscore {
    width: 10rem;
    background-color: transparent;
} input.displayscore:hover {
    border-color: #4c566a;
}

input.displayscore::placeholder {
    color: #eceff4;
} input.displayscore::-ms-input-placeholder {
    color: #eceff4;
} input.displayscore::-webkit-input-placeholder {
    color: #eceff4;
}
