@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    color: #ECEFF4;
    font-family: 'Fira Code', monospace;
    font-size: 20pt;
}

body {
    color: #ECEFF4;
    font-family: 'Fira Code', monospace;
    font-size: 20pt;

    background-color: #2E3440;
    margin: 0px;
    text-align: center;
}

button {
    background-color: #434C5E;
    border: none;
    border-radius: 8px;
    color: #ECEFF4;
} button.large {
    margin: 10px;
    padding: 17px;
} button:hover {
    background-color: #4C566A;
    cursor: pointer;
}

input {
    background-color: #434C5E;
    border: 3px solid #434C5E;
    border-radius: 8px;
    color: #ECEFF4;
} input.large {
    margin: 10px;
    padding: 14px;
} input.hidden {
    border: 3px solid #2E3440;
    background-color: #2E3440;
    max-width: 80px;
} input:hover {
    border: 3px solid #4C566A;
    cursor: text;
} input:focus {
    background-color: #2E3440;
    border: 3px solid #88C0D0;
    outline: none;
}

select {
    background-color: #434C5E;
    border: none;
    color: #ECEFF4;
    border-radius: 8px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    text-indent: 1px;
    text-overflow: '';
} select:hover {
    background-color: #4C566A;
    cursor: pointer;
}
