@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    color: #eceff4;
    font-family: 'Fira Code', monospace;
    font-size: 2.5vw;
}

body {
    color: #eceff4;
    font-family: 'Fira Code', monospace;
    font-size: 2.5vw;

    background-color: #2e3440;
    margin: 0px;
    text-align: center;
}

.header {
    text-decoration: underline;
}

hr {
    background-color: #3b4252;
    height: 1px;
    border: 0;
    width: 90%;
}

button {
    background-color: #434c5e;
    border: none;
    border-radius: 8px;
    color: #eceff4;
    margin: 5px;
    padding: 5px;
    transition: color 0.1s, background-color 0.1s;
} button.large {
    margin: 10px;
    padding: 17px;
} button:hover {
    background-color: #4c566a;
    cursor: pointer;
} button:focus {
    outline: none;
} button:disabled {
    background-color: #3b4252;
    color: #4c566a;
} button:disabled:hover {
    cursor: default;
}

input {
    background-color: #434c5e;
    border: 3px solid #434c5e;
    border-radius: 8px;
    color: #eceff4;
    margin: 5px;
    padding: 5px;
    transition: color 0.1s, background-color 0.1s;
} input.large {
    margin: 10px;
    padding: 14px;
} input.hidden {
    border: 3px solid #2e3440;
    background-color: #2e3440;
    max-width: 8vw;
    padding: 0px;
    margin: 0px;
} input:hover {
    border: 3px solid #4c566a;
    cursor: text;
} input:focus {
    background-color: #2e3440;
    border: 3px solid #88c0d0;
    outline: none;
}

select {
    background-color: #434c5e;
    border: none;
    color: #eceff4;
    border-radius: 8px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    text-indent: 1px;
    text-overflow: '';
    margin: 5px;
    padding: 5px;
    transition: color 0.1s, background-color 0.1s;
} select:hover {
    background-color: #4c566a;
    cursor: pointer;
} select:focus {
    outline: none;
}
